.order-success-container {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.order-success-container h1 {
    color: green;
    margin-bottom: 20px;
}

.order-success-container p {
    font-size: 1.2em;
    margin: 10px 0;
}

.order-success-container ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.order-success-container li {
    margin: 10px 0;
    font-size: 1.1em;
}

.order-success-container li p {
    margin: 5px 0;
}

.finish-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.finish-btn:hover {
    background-color: #45a049;
}

